<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.crafter.android.zjsnviewer">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".zjsApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".Widget_Repair"
            android:label="@string/repair_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget__repair_info" />
        </receiver>
        <receiver
            android:name=".Widget_Build"
            android:label="@string/build_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget__build_info" />
        </receiver>
        <receiver
            android:name=".Widget_Make"
            android:label="@string/make_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget__make_info" />
        </receiver>
        <receiver
            android:name=".Widget_Travel"
            android:label="@string/travel_widget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget__travel_info" />
        </receiver>
        <receiver
            android:name=".Widget_Main"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget__main_info" />
        </receiver>

        <service android:name=".TimerService">

        </service>

        <receiver
            android:name=".ScreenReceiver"
            android:enabled="true"
            android:exported="true">

        </receiver>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Class -->
        <activity
            android:name=".ZjsnViewer"
            android:label="@string/title_activity_main">
        </activity>

        <!-- Settings General -->
        <activity
            android:name=".SettingsGeneral"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ZjsnViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.crafter.android.zjsnviewer.ZjsnViewer" />
            >
        </activity>

        <!-- Settings Notification -->
        <activity
            android:name=".SettingsNotification"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ZjsnViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.crafter.android.zjsnviewer.ZjsnViewer" />
            >
        </activity>

        <!-- Settings Sync -->
        <activity
            android:name=".SettingsSync"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ZjsnViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.crafter.android.zjsnviewer.ZjsnViewer" />
            >
        </activity>

        <!-- Settings Customize -->
        <activity
            android:name=".SettingsCustomize"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ZjsnViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.crafter.android.zjsnviewer.ZjsnViewer" />
            >
        </activity>
        <activity
            android:name=".SettingsBlack"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ZjsnViewer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.crafter.android.zjsnviewer.ZjsnViewer" />
            >
        </activity>
        <activity android:name=".InfoActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".WebActivity">

        </activity>
    </application>

</manifest>